* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 500px;   
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 185px;
    text-align: center;

}

#Entrar {
    background-color: darkkhaki;
    color: rgb(66, 61, 61);
    width: 155px;
    height: 45px;

}

#cadastro{
    background-color: darkkhaki;
    color: rgb(66, 61, 61);
    width: 155;
    height: 45px;
}

#email, #senha {
    display: block;
    margin: 20px;
    width: 190px;
    height: 35px;
}

