* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 350px;   
    height: 190px;


}

#Entrar {
    background-color: darkkhaki;
    color: rgb(66, 61, 61);
    width: 150px;
    height: 45px;

}

#cadastro{
    background-color: darkkhaki;
    color: rgb(66, 61, 61);
    width: 150px;
    height: 45px;
}

#email, #senha {
    display: block;
}