* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 500px;   
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 185px;
    text-align: center;
    border: 1px solid black;
}

#Entrar, #cadastro {
    background-color: darkkhaki;
    color: rgb(66, 61, 61);
    width: 155px;
    height: 45px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    cursor: pointer;
    

}

#Entrar:hover, #cadastro:hover {
   background-color: rgb(150, 146, 92);

}


#email, #senha {
    display: block;
    margin: 20px;
    width: 80%;
    height: 35px;
}

.h2 {
    width: 500px;   
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 185px;
    text-align: center;
}

#adicionar{
    background-color: darkkhaki;
    color: rgb(66, 61, 61);
    width: 155px;
    height: 45px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    cursor: pointer;
} 

#sair {
    background-color: rgb(201, 19, 19);
    width: 90px;
    height: 25px;
    display: block;
    
}