* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 290px;   
    height: 190px;


}

#Entrar {
    background-color: darkkhaki;
    color: rgb(66, 61, 61);
    width: 150px;
    height: 70px;

}